@{
     ViewData["Title"] = "Expenses";
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h5>Expenses</h5>
    </div>
    <div class="card-body">
        <table class="table-striped table">
            <thead>
                <tr>
                    <th>Expense #</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EXP001</td>
                    <td>Office Supplies</td>
                    <td>$120</td>
                    <td>2024-02-10</td>
                </tr>
                <tr>
                    <td>EXP002</td>
                    <td>Travel</td>
                    <td>$350</td>
                    <td>2024-02-08</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
